@import './porometr';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 7vh;
    color: $color-while;
    background-color: $backraud-color;
    justify-content: space-between;
    padding: 10px;
    display: flex;



}

.links {
    width: 100%;
    height: 5vh;
    padding: 5px;
    color: $color-while;
    background-color: $backraud-color;
    border: groove 0.1px #898984;
}

.header_video {
    width: 100%;
    height: 42vh;
    background-color: $color-ref;
    display: flex;
    gap: 10px;
    padding: 5px;

    .ferst {
        width: 35vh;
        height: 40vh;
        border-radius: 10px;
        background-color: $color-ref;

        img {
            width: 100%;
            height: 100%;
        }

    }
}

@media only screen and (max-width: 600px) {
    .over_chus {
        display: none;
    }

    .header_video {

        width: 100%;

        .ferst {
            width: 20vh;
            height: 40vh;
            border-radius: 10px;
            background-color: $color-ref;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}